body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  /* SIZES */
  --header-element-height: 50px;
  --header-element-width: 200px;
  --standard-element-hegiht: 50px;
  --standard-element-width: 80px;
  --card-size: 200px;
  --play-area-size: 1000px;
  /* PADDINGS */
  --header-padding: 5px 15px;
  --padding-normal: 5px;

  /* MARGINS */
  --margin-larger: 10px;
  --margin-cards: 15px;
  --logo-margin-left: 8px;
  --margin-header__TEXT: 100px 0;

  /* FONT */
  --font-size-large: 22px;
  --font-size-very-large: 45px;
  /* COLORS */
  --button-bg-color: #ff4800;
  --game-bg-color: #3d3d3d;
  --card-unflipped-color: #8f8f8f;
  /* BORDER */
  --border-radius-normal: 3px;
  --card-border-radius: 10px;
  --card-border-width: 3px;
  --card-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);
  /* OPACITY */
  --card-notfound-opacity: 1;
  --card-found-opacity: 0.7;
}
